{% extends 'myblog/layout.html' %}
{% load widget_tweaks %}

{% block title %}create_topic{% endblock %}

{% block content %}
  <h1 class="display-4 text-primary mb-4">{{title}}</h1>
  <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      タイトル名: <br>{{form.topic_title}}
      コンテンツ: <br>{{form.content|attr:"rows:8"}}
      写真・画像: <br>{{form.image}}
      <p></p>
      <input class="btn btn-primary" type="submit" value="送信">
  </form>
  <p></p>
  <p class="h6"><a href="{% url 'index' %}">トップページ</a></p>
{% endblock %}