{% extends 'myblog/layout.html' %}
{% load widget_tweaks %}

{% block title %}投稿ページ{% endblock %}

{% block content %}
  <h1 class="display-4 text-primary mb-4">投稿ページ</h1>
  <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <table class="table">
        {{ form.as_table }}
        <tr><th><td>
          <input class="btn btn-primary mt-2" type="submit" value="送信">
        </td></th></tr>
      </table>
      <p></p>
  </form>
  <p></p>
  <p class="h6"><a href="{% url 'index' %}">トップページ</a></p>
{% endblock %}