{% extends 'myblog/layout.html' %}

{% block title %}トップページ{% endblock %}

{% block content %}
  <h1 class="display-4 text-primary mb-4">トップページ</h1>
  <p class="h5">ID・タイトル名一覧</p>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>タイトル名</th>
      <th></th>
    </tr>
    <tr>
      {% for data in datas %}
      <tr>
        <td>{{data.id}}</td>
        <td>{{data.topic_title}}</td>
        <td><a href="{% url 'detail' data.pk %}">詳細</a></td>
      </tr>
      {% endfor %}
    </tr>
  </table>
  {% include 'myblog/pagination.html' %}
  <p class="h6"><a href="{% url 'create' %}">新規作成</a></p>
{% endblock %}