{% extends 'myblog/layout.html' %}

{% block title %}myblog{% endblock %}

{% block content %}
  <h1 class="display-4 text-primary mb-4">{{title}}</h1>
  <p class="h5">{{msg}}</p>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>タイトル名</th>
      <th></th>
    </tr>
    <tr>
      {% for item in data %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.topic_title}}</td>
        <td>詳細</td>
      </tr>
      {% endfor %}
    </tr>
  </table>
  <p class="h6"><a href="{% url 'create' %}">新規作成</a></p>
{% endblock %}