<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
  </head>
  <body class="container">
    <!-- このナビバーは後ほどリンク先やユーザ情報で修正する -->
    <nav class="navbar navbar-expand navbar-light bg-light">
      <ul class="navbar-nav mr-auth">
        <li class="nav-item">
          <a class="nav-link" href="#">リンク先1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">リンク先2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">リンク先3</a>
        </li>
      </ul>
      <!-- <span>logined: <span class="h6">{{login_user}}.</span> </span> -->
    </nav>
    <!-- ナビバーはここまで -->
   {% block content %}
   {% endblock %}
  </body>
</html>