{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
  </head>
  <body class="container">
    <h1 class="display-4 text-primary mb-4">{{title}}</h1>
    <p class="h5 mt-4">{{msg}}</p>
    <form action="{% url 'new_topic_form' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="topic_title">タイトル名：</label>
        <input class="form-control" type="text" id="topit_title" name="topic_title">
      </div>
      <input class="btn btn-primary" type="submit" value="送信">
    </form>
    <p class="h6"><a href="{% url goto %}">トップページ</a></p>
  </body>
</html>