<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
  </head>
  <body class="container">
    <!-- ナビバー表示 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">ブログ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">トップページ<span class="sr-only">(current)</span></a></li>
          {% if user.is_authenticated %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'create' %}">新規作成</a></li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
          <!-- ログインしている場合、ログアウトボタンを表示 -->
          <li style="color: white; list-style: none;">{{ user.username }}</li>
          <li><a href="{% url 'logout' %}" style="color: white;">ログアウト</a></li>
        {% else %}
          <!-- ログインしていないのに場合、ログインボタンを表示 -->
          <li style="list-style: none;"><a href="{% url 'login' %}?next={{ request.path }}" style="color: white;">ログイン</a></li>
        {% endif %}
      </div>
    </nav>
    {% block index %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <footer class="bg-dark text-white text-center py-3">
      <p>坂元 雄飛</p>
    </footer>
  </body>
</html>