{% extends 'mydiary/layout.html' %}

{% block title %}トップページ{% endblock %}

{% block index %}
  <div class="jumbotron">
    <h1 class="display-3">坂元の日記</h1>
    <p class="lead">私の最近の出来事や、学んだことのアウトプット用に使っています。<br>
                    ちなみに、好きな言語はPythonなので、このブログもPythonで作成しています。</p>
    <hr class="my-2">
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4 text-primary mb-4">トップページ</h1>
      {% for data in datas %}
        <div class="card mb-3">
          <h2 class="card-header bg-dark text-white">{{ data.topic_title }}</h2>
          <div class="card-body">
            <p>{{ data.created_at }} | {{ data.created_at | timesince }}</p>
            <a href="{% url 'mydiary_detail' data.pk %}" class="btn btn-primary">続きを読む</a>
          </div>
        </div>
      {% endfor %}
      {% include 'mydiary/pagination.html' %}
    </div>
  </div>  
{% endblock %}