body {
  background-color: honeydew;
}
/* ナビゲーションの調整 */
.navbar {
  width: 100vw;
  height: 100px;
  color: white;
  background-color: lime;
}
.nav-list {
  margin: auto;
  list-style-type:none;
  display:inline;
  float: left;
}
/* メインの画像とコメント（ゆぴおのポートフォリオ） */
.main {
  position: relative;
}
#main_img {
  width: 100vw;
  height: 85vh;
  opacity: 0.6;
}
.main #main_title {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-size: 4em;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  text-align: center;
}
/* スキル紹介と自己紹介 */
#skill_check {
  
}
#profile h2, #profile h3{
  width: 280px;
  text-align: center;
}
#profile img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
/* フッター画面 */
footer {
  width: 100vw;
  height: 50px;
  color: white;
  background-color: lime;
  text-align: center;
  position: relative;
}
footer span {
  position: absolute;
  top: 25%;
}